/*  
/////////////////////////////////////
/////Estilos Creados por Galeano/////
/////////////////////////////////////
/////////////////////////////////////
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Euclid Circular A', sans-serif !important; /*Nueva fuente de letra*/
                                                
}

/* Variables */
:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --z1:#232741;
    --z2:#2c2e43;
    --darkBodyP:#181818;
    --darkPretty: #333;
    --darkPretty2:#222;
    --yellowMostaza: #e8a900;
}



/* --------------------------------Inicio-------------------------------------- */

/* .carousel-item{
    height:600px;
} */

#inicio{
    height:600px;
}


/* ------------ Slider ------------ */
.card-carousel{
    /*Parallax*/
    /* background-attachment: fixed; */
    background-repeat: repeat; 
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;

    /* border:1px solid #fff; */
}

.text-carousel{
    width:60vw;
    /* border:1px solid #fff; */
    text-align: center;

}

.text-carousel h1{
    font-size:calc(1.575rem + 3.9vw);
    font-weight: 700 !important;
    line-height: 1.2;
    color:var(--bs-light);
}
.text-carousel h4{
    font-size:calc(.575rem + 1.9vw);
    font-weight: 700 !important;
    /* line-height: 1.2; */
    color:var(--bs-light);
}

.btn-link{
    width:200px;
    margin:auto;
    /* margin-top:20px; */
    text-decoration:none !important;
}

/* .btn-contacto a{
    width:200px !important;
    border-radius:50px;
    margin:auto;
} */

.btn-contacto{
    padding: 16px 14px;
    border:none;
    background:var(--bs-warning);
    border-radius:50px;
    font-weight:700 !important;
    width:200px;    
    transition: all .4s;
    color:#111;
}

.btn-contacto:hover{
    background: #111;
    color:var(--bs-warning);
    transition: all .4s;
}

.ci-1{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img2.jpg);
    background-position: bottom;
    /* background-size:100%; */
}
.ci-2{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5,7,8, 0.5)), url(../images/slider/bricks.webp);
    background-position: 90% 10%;
    /* background-size:100%; */
}
.ci-3{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5,7,8, 0.5)), url(../images/slider/tools.webp);
    /* background-size: auto; */
}

/* -----------------Seccion de mediaqueries----------------- */
/*------- Desktop -------*/

/* @media screen and (min-width: 1023px){
    .ci-1{
        background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img.webp);
        background-position: left;
    }

} */

/*------- Tablets -------*/
/* @media screen and (min-width:768px) and (max-width:1022px) {

    .ci-1{
        background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img.webp);
        background-size:120%;
    }
   

} */

/* --------------------------------Navbar-------------------------------------- */

.gem-contacts-item.gem-contacts-phone li{
    list-style:none;
    font-weight:600;
    font-size:15px;
}

.gem-contacts-item.gem-contacts-phone ul{
    text-align:center;
    /* border:2px solid #fff; */
    display:flex;
    justify-content: space-between;
}
.gem-contacts-item.gem-contacts-phone span{
    font-size:20px;
}

.socials .inline-inside{
    /* margin-top:0; */
    display:flex;
    align-items:center;

}


.header-top{
    width:100%;
    height:40px;
    background:#151515;
}

nav{
    background-color: var(--darkBodyP);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem 2rem; */
    position:relative;
    z-index:99;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
	transition: all .5s;
}
.logo-header img{
    width: 50px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 4rem;
    list-style:none;
}

.nav-menu li:hover a{
    transition: all .3s;
}

.nav-menu a{
    color: #fff;
    font-weight:600;
}
.nav-menu .btn-contacto{
    background:#4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.btn-contacto:hover{
    transform:scale(1.03);
}
.btn-contacto:hover a{
    color:#fff !important;
}
.menu-icon{
    border:1px solid var(--bs-secondary);
    border-radius: 3px;
    padding:6px;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}



/* Para poner fixed en js */


nav.fixed#menu {
    animation: popDown 0.5s;
}


nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    /* z-index: 3; Quitar mas tarde si hace falta */
}

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }

.active-item{           /*Para utilizar en js*/
    color:var(--bs-warning) !important;
    /* transform: translateX(5px) scale(1) !important; */
}



/* --------------------------------Seccion de Nosotros-------------------------------------- */

/* .item{
    height:300px;
}
.work-wrap.d-md-flex, .text, .img.order-md-last {
    height:300px;
} */

/* ------- Mision y Vision --------*/
/* #services .col-lg-6{
    padding-left:-15px !important;
    padding-right:-15px !important;
} */

/* ------Para el slider en pantallas medianas------ */
@media screen and (min-width: 992px) and (max-width:1023px){
    /* .owl-dots{
        transform:translateY(-50px) translateX(-100px) rotate(-90deg);

    } */
}


/* -------------------------------- Seccion de Productos -------------------------------------- */

/* #productos{
    background:url(../images/)
} */

.section-title h3{
    text-align:center;
}

.cards-productos{

    margin-top:10px;
    margin-bottom:10px;
    /* height:350px; */
    padding:1px 0;
    /* border:1px solid var(--bs-secondary); */
    background:#e8a900;
    border-radius:10px;
    overflow:hidden;        /*Para que el contorno este por encima del contenido*/

}

.img-prod{
    height:350px;
    /* background:var(--yellowMostaza); */
    /* border:1px solid var(--bs-dark); */
    padding:0;
    
}

.prod-1{
    background:url(../images/pro2.png);
    background-size: cover;
    height:100%;   
    width:100%;   
    /* border:1px solid #fff; */
}

.desc-prod{
    height:350px;
    background:var(--darkBodyP);
    color:var(--bs-light);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding:10px 15px;
    /* border:1px solid var(--bs-dark); */
}

.desc-prod h3{
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;
    text-align: center;
}

.desc-prod p{
    color:var(--bs-secondary);
    font-weight:400;
    text-align: justify;
}

@media only screen and (max-width: 575px){

    .img-prod{
        height:180px;
    }
    .desc-prod{
        height:auto;
        padding:20px 15px;
    }
}

/* -------------------------------- Seccion de Alcance -------------------------------------- */

.section-alcance{
    background:var(--darkBodyP);
}

/* .contenedor-mapasJs{
    padding:60px 0px;
    border:1px solid#fff;
    background:var(--yellowMostaza);
} */

.mapaJS{
    background: var(--darkPretty2);
    border:1px solid var(--bs-light);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    /* height:100%; */

}
.mapaJS h4{
    color:var(--bs-light);
}
.desc-mapaJS{
    padding:12px 6px;   /*padding para que el efecto glass de los mapas sean del mismo alto*/
}
.desc-mapaJS>p{
    color:var(--bs-light) !important;
    text-align:justify;
}

#paraguay{
    margin-bottom:12px;
}

/* -------------------------------- Seccion de Contacto -------------------------------------- */





/* -------------------------------- Seccion de Footer -------------------------------------- */

.dmtop{
    z-index:3;
}






/* -------------------------------- Seccion de Responsive -------------------------------------- */

/* @media all and (orientation:landscape) {
	.nav-menu ul{
        width: 100%;
        height: 100vh;
    }
    .nav-menu ul li{
        padding: 5px;
        
        margin: 0;
        font-size:1.3rem;


    }
} */

/* Escritorio extra grande */
@media only screen and (min-width: 1200px){
    /* --------------------------- Inicio ---------------------------- */
    .ci-1{
        /* background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img.webp); */
        background-position: 50% 70%;
        background-size: cover;
    }
    .ci-2{
        background-position: 90% 10%;
        background-size:cover;
    
    }
    .ci-3{
        background-size: cover;
    }
 }


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* --------------------------- Inicio ---------------------------- */

    .ci-1{
        background-position: 50% 70%;
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
/* --------------------------- Inicio ---------------------------- */

    .ci-1{
        /* background-position: 50% 70%; */
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }
}


/* ---------------Mediaqueries pára Navbar en pantallas menores a 769px--------------- */
@media (max-width:768px){

 /* --------------------------- Inicio ---------------------------- */

    .ci-1{
        /* background-position: 50% 70%; */
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

 /* --------------------------- Navbar ---------------------------- */

    .col-xs-hidden{
        display:none;
    }

    nav{
        height:60px;
    }
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        /* position: fixed; */
        /* top: 10px; */
        /* right: 20px; */
        cursor: pointer;
        margin-right:10px;
    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:60px;
        left:-100%;
        /* transform:translateY(-500px); */
        background: var(--darkBodyP);
        width: 100%;
        height: 100vh;
        min-height:500px;
        /* right: 0; */
        transition: all .25s;
        box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
        padding-left:0;
        /* z-index:80 !important; */
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        
        /* width:100%; */
        margin: 0;
        font-size:1.3rem;
        /* border:1px solid var(--bs-secondary); */
        /* border-top:1px solid var(--bs-secondary);  */

    }
    /* .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    } */
    #check:checked ~ ul{
        left:0;
        transition: all .25s;

    }




   /* ---------------Footer--------------- */

   #footer{
    background-size:cover;
    }


}


/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){


}

/*Celulares*/
@media only screen and (max-width: 575px){
/* ---------------General--------------- */
    p{
        font-size:14px;
    }

}

/*Celulares angostos*/
@media only screen and (max-width:365px){
/* ---------------Inicio--------------- */

    .ci-1{
        background-position: 10% 60%;
        background-size:cover;
    }
    .ci-2{
        /* background-position: 90% 10%; */
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

    .text-carousel{
        width:80vw;    
    }


/* ---------------Footer--------------- */

    #footer{
        background-size:cover;
    }

}