/*  
/////////////////////////////////////
/////Estilos Creados por Galeano/////
/////////////////////////////////////
/////////////////////////////////////
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Euclid Circular A', sans-serif !important; /*Nueva fuente de letra*/
                                                
}

/* Variables */
:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --z1:#232741;
    --z2:#2c2e43;
    --darkBodyP:#181818;
    --darkPretty: #333;
    --darkPretty2:#222;
    --yellowMostaza: #e8a900;
}


/* -------------------------------- Modal -------------------------------------- */

.modal-content{
    background-color:var(--darkBodyP);
}
/* .modal-body p, h3{
    color:var(--bg-light);
} */

/* .modal-content-color p,h3{
    color:var(--bg-light);
} */
/* .btn-close{
    fill:var(--bs-light) !important;
} */
/* -------------------------------- Inicio -------------------------------------- */

/* .carousel-item{
    height:600px;
} */

#inicio{
    height:600px;
}


/* ------------ Slider ------------ */
.card-carousel{
    /*Parallax*/
    /* background-attachment: fixed; */
    background-repeat: repeat; 
    height:600px;
    display:flex;
    justify-content:center;
    align-items:center;

    /* border:1px solid #fff; */
}

.text-carousel{
    width:60vw;
    /* border:1px solid #fff; */
    text-align: center;

}

.text-carousel h1{
    font-size:calc(1.575rem + 3.9vw);
    font-weight: 700 !important;
    line-height: 1.2;
    color:var(--bs-light);
}
.text-carousel h4{
    font-size:calc(.575rem + 1.9vw);
    font-weight: 700 !important;
    /* line-height: 1.2; */
    color:var(--bs-light);
}

.btn-link{
    width:200px;
    margin:auto;
    /* margin-top:20px; */
    text-decoration:none !important;
}

/* .btn-contacto a{
    width:200px !important;
    border-radius:50px;
    margin:auto;
} */

.btn-contacto{
    padding: 16px 14px;
    border:none;
    background:var(--bs-warning);
    border-radius:50px;
    font-weight:700 !important;
    width:200px;    
    transition: all .4s;
    color:#111;
}

.btn-contacto:hover{
    background: #111;
    color:var(--bs-warning);
    transition: all .4s;
}

.ci-1{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img2.webp);
    background-position: bottom;
    /* background-size:100%; */
}
.ci-2{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5,7,8, 0.5)), url(../images/slider/bricks.webp);
    background-position: 90% 10%;
    /* background-size:100%; */
}
.ci-3{
    background:linear-gradient(rgba(5,7,8, 0.5), rgba(5,7,8, 0.5)), url(../images/slider/construccion_site.jpg);
    background-size: cover;
    background-position:0 50%;
}

/* --------------------------------Navbar-------------------------------------- */

.gem-contacts-item.gem-contacts-phone li{
    list-style:none;
    font-weight:600;
    font-size:15px;
}

.gem-contacts-item.gem-contacts-phone ul{
    text-align:center;
    /* border:2px solid #fff; */
    display:flex;
    justify-content: space-between;
}
.gem-contacts-item.gem-contacts-phone span{
    font-size:20px;
    transition:color .4s !important;

}

.gem-contacts-item.gem-contacts-phone a:hover i{
    transition:color .3s !important;
}
.gem-contacts-item.gem-contacts-phone a:hover span{
    transition:color .3s !important;
}

.socials .inline-inside{
    /* margin-top:0; */
    display:flex;
    align-items:center;

}


.header-top{
    width:100%;
    height:40px;
    background:#151515;
}

.lis-top{
    display:none;
}

nav{
    background-color: var(--darkBodyP);
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.17'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fdfbfe' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
    
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: .5rem 2rem; */
    position:relative;
    z-index:99;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
	transition: all .5s;
}
.logo-header img{
    width: 50px;
}
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 4rem;
    list-style:none;
    /* border:1px solid #fff; */
}

.nav-menu li:hover a{
    transition: all .3s;
}

.nav-menu a{
    color: #fff;
    font-weight:600;
}
.nav-menu .btn-contacto{
    background:#4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.btn-contacto:hover{
    transform:scale(1.03);
}
.btn-contacto:hover a{
    color:#fff !important;
}
.menu-icon{
    border:1px solid var(--bs-secondary);
    border-radius: 3px;
    padding:6px;
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}



/* Para poner fixed en js */


nav.fixed#menu {
    animation: popDown 0.5s;
}


nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    /* z-index: 3; Quitar mas tarde si hace falta */
}

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }

.active-item{           /*Para utilizar en js*/
    color:var(--bs-warning) !important;
    /* transform: translateX(5px) scale(1) !important; */
}



/* --------------------------------Seccion de Nosotros-------------------------------------- */

.no-padding-bottom {
    padding-top: 0;
}


/* -------------------------------- Seccion de Productos -------------------------------------- */

#productos{
    /* fondo de lineas left-right */
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1170%26quot%3b)' fill='none'%3e%3crect width='1440' height='1000' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M -889.6837035305721%2c663 C -793.68%2c597.8 -601.68%2c364.4 -409.683703530572%2c337 C -217.68%2c309.6 -121.68%2c561.6 70.31629646942798%2c526 C 262.32%2c490.4 358.32%2c137.4 550.3162964694279%2c159 C 742.32%2c180.6 852.38%2c636.4 1030.316296469428%2c634 C 1208.25%2c631.6 1358.06%2c244.4 1440%2c147' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -233.23177251527795%2c609 C -137.23%2c563.8 54.77%2c338.8 246.76822748472205%2c383 C 438.77%2c427.2 534.77%2c814.2 726.768227484722%2c830 C 918.77%2c845.8 1014.77%2c525.4 1206.768227484722%2c462 C 1398.77%2c398.6 1640.12%2c552 1686.768227484722%2c513 C 1733.41%2c474 1489.35%2c316.2 1440%2c267' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -586.9306357447656%2c268 C -490.93%2c370.2 -298.93%2c783.4 -106.93063574476554%2c779 C 85.07%2c774.6 181.07%2c292.6 373.06936425523446%2c246 C 565.07%2c199.4 661.07%2c551.8 853.0693642552344%2c546 C 1045.07%2c540.2 1215.68%2c199.2 1333.0693642552344%2c217 C 1450.46%2c234.8 1418.61%2c551.4 1440%2c635' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -272.06456048554855%2c589 C -176.06%2c506.2 15.94%2c145.6 207.93543951445147%2c175 C 399.94%2c204.4 495.94%2c686 687.9354395144514%2c736 C 879.94%2c786 975.94%2c413.6 1167.9354395144514%2c425 C 1359.94%2c436.4 1593.52%2c842.2 1647.9354395144514%2c793 C 1702.35%2c743.8 1481.59%2c301.8 1440%2c179' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1170'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    
    /* fondo de lineas curvas bottom-right */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3cpath d='M365.62 1050.33C534.61 1036.25 593.76 730.66 942.24 693.12 1290.71 655.58 1339.14 277.28 1518.85 253.12' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M151.6 1143.69C359.31 1120.21 445.51 685.76 834.62 661.43 1223.72 637.1 1334.08 396.27 1517.63 391.43' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M254.67 1139.16C507.27 1001.87 501.51 182.03 848.08 154.1 1194.64 126.17 1279.61 408.48 1441.48 414.1' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M551.13 1160.5C704.06 1092.37 635.61 611.68 930.83 608.89 1226.05 606.1 1491.14 846.06 1690.23 848.89' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M708.81 1079.23C885.32 970.61 809.9 453.53 1109.14 353.3 1408.38 253.07 1391.9 113.29 1509.47 103.3' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

}

.section-title h3{
    text-align:center;
}

.cards-productos{

    margin-top:10px;
    margin-bottom:10px;
    /* height:350px; */
    padding:0;
    /* border:1px solid var(--bs-secondary); */
    /* background:#e8a900; */
    border-radius:10px;
    overflow:hidden;        /*Para que el contorno este por encima del contenido*/
    /* box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%); */
    /* box-shadow:
  0px 0px 0.9px rgba(0, 0, 0, 0.048),
  0px 0px 2.1px rgba(0, 0, 0, 0.069),
  0px 0px 4px rgba(0, 0, 0, 0.085),
  0px 0px 7.1px rgba(0, 0, 0, 0.101),
  0px 0px 13.4px rgba(0, 0, 0, 0.122),
  0px 0px 32px rgba(0, 0, 0, 0.17)
; */
    box-shadow:
    0px 0px 1.4px rgba(0, 0, 0, 0.08),
    0px 0px 3.9px rgba(0, 0, 0, 0.115),
    0px 0px 9.3px rgba(0, 0, 0, 0.15),
    0px 0px 31px rgba(0, 0, 0, 0.23)
    ;



}

.img-prod{
    height:350px;
    /* background:var(--yellowMostaza); */
    /* border:1px solid var(--bs-dark); */
    padding:0;
    
}

.prod-1{
    background:url(../images/materiales.webp);
    background-size: cover;
    height:100%;   
    width:100%;   
}
.prod-2{
    background:url(../images/slider/construccion_site2.webp);
    /* background:url(../images/slider/asesoramiento_obras.webp); */
    background-size: cover;
    background-position:center;
    height:100%;   
    width:100%;   
}
.prod-3{
    background:url(../images/truck.webp);
    background-size: cover;
    background-position: 20% 0;
    height:100%;   
    width:100%;   
}

.desc-prod{
    height:350px;
    background:var(--darkBodyP);
    color:var(--bs-light);
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding:10px 15px;
    /* border:1px solid var(--bs-dark); */
}

.desc-prod h3{
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;
    text-align: center;
}

.desc-prod p{
    color:var(--bs-secondary);
    font-weight:400;
    text-align: justify;
}

@media only screen and (max-width: 575px){

    .img-prod{
        height:180px;
    }
    .desc-prod{
        height:auto;
        padding:20px 15px;
    }
}

/* -------------------------------- Seccion de Alcance -------------------------------------- */

.section-alcance{
    background:var(--darkBodyP);
}

/* .contenedor-mapasJs{
    padding:60px 0px;
    border:1px solid#fff;
    background:var(--yellowMostaza);
} */

.mapaJS{
    background: var(--darkPretty2);
    border:1px solid var(--bs-light);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    /* height:100%; */

}
.mapaJS h4{
    color:var(--bs-light);
}
.desc-mapaJS{
    padding:12px 6px;   /*padding para que el efecto glass de los mapas sean del mismo alto*/
}
.desc-mapaJS>p{
    color:var(--bs-light) !important;
    text-align:justify;
}

#paraguay{
    margin-bottom:12px;
}

/* -------------------------------- Seccion de Contacto -------------------------------------- */





/* -------------------------------- Seccion de Footer -------------------------------------- */

.dmtop{
    z-index:3;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);

}

#footer{
    background-image:url(../images/footer-img.webp);
}




/* -------------------------------- Seccion de Responsive -------------------------------------- */

/* @media all and (orientation:landscape) {
	.nav-menu ul{
        width: 100%;
        height: 100vh;
    }
    .nav-menu ul li{
        padding: 5px;
        
        margin: 0;
        font-size:1.3rem;


    }
} */

/* Escritorio extra grande */
@media only screen and (min-width: 1200px){
    /* --------------------------- Inicio ---------------------------- */
    .ci-1{
        /* background:linear-gradient(rgba(5,7,8, 0.5), rgba(5, 7, 8, 0.5)), url(../images/slider/slider_img.webp); */
        background-position: 50% 70%;
        background-size: cover;
    }
    .ci-2{
        background-position: 90% 10%;
        background-size:cover;
    
    }
    .ci-3{
        background-size: cover;
    }

    /* --------------------------- Productos ---------------------------- */

    .prod-1{
        background-size: cover;
    }
    .prod-2{
        background-size: cover;
        background-position:60% 0;
    }
    .prod-3{
        background-size: cover;
        background-position: 20% 0;
    }
 }


/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* --------------------------- Inicio ---------------------------- */

    .ci-1{
        background-position: 50% 70%;
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

    /* --------------------------- Productos ---------------------------- */
    .img-prod{
        height:370px;
    }
    .desc-prod{
        height:370px;
        /* background:var(--darkBodyP);
        color:var(--bs-light);
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content:center; */
        padding:15px 15px;
        /* border:1px solid var(--bs-dark); */
    }

}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){

/* --------------------------- Navbar ---------------------------- */
.gem-contacts-item.gem-contacts-phone i{
    display:none;
}

/* --------------------------- Inicio ---------------------------- */

    .ci-1{
        /* background-position: 50% 70%; */
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

    /* --------------------------- Productos ---------------------------- */

    /* .prod-1{
        background:url(../images/materiales.jpg);
        background-size: cover;
    } */
    .prod-2{
        background-size: cover;
        background-position:70% 0;
    }
}


/* ---------------Mediaqueries pára Navbar en pantallas menores a 769px--------------- */
@media (max-width:768px){

 /* --------------------------- Inicio ---------------------------- */

    .ci-1{
        /* background-position: 50% 70%; */
        background-size: cover;
    }
    .ci-2{
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

 /* --------------------------- Navbar ---------------------------- */
    .gem-contacts-item.gem-contacts-phone i{
        display:none;
    }
    .col-xs-hidden{
        display:none;
    }
    .lis-top{
        width:300px;
        display:flex;
        justify-content: space-around;
        /* border:1px solid #fff; */
    }
    .lis-top span{
        color:var(--bs-secondary);
        font-size: 1.5rem;
        transition: color .8s;
        /* font-weight:100 !important; */
    }
    .lis-top span:hover{
        color:var(--bs-warning);
        transition: color .8s;
    }
    /* .lis-top i{
        color:var(--bs-light);
        font-size: 1.5rem;
        transition: color .8s;
    }
    .lis-top i:hover{
        color:var(--bs-warning);
        transition: color .8s;
    } */
    nav{
        height:60px;
    }
    .checkbtn{
        display: block;
    }
    .menu-icon{
        /* width:50%; */
        display: block;
        /* position: fixed; */
        /* top: 10px; */
        /* right: 20px; */
        cursor: pointer;
        margin-right:10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fdfbfe' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

    }
    .nav-menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:60px;
        left:-100%;
        /* transform:translateY(-500px); */
        background: var(--darkBodyP);
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fdfbfe' fill-opacity='0.22' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */

        width: 100%;
        height: 100vh;
        /* min-height:500px; */
        /* right: 0; */
        transition: all .25s;
        box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
        padding-left:0;
        /* z-index:80 !important; */
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
        font-size:1.3rem;
      

    }
    .ul-li-hrztl{
        padding: .5rem !important;
    }
    /* .nav-menu ul li:last-child{
        background: none;
        padding: 1rem;
    } */
    #check:checked ~ ul{
        left:0;
        transition: all .25s;

    }




   /* ---------------Footer--------------- */

   #footer{
    background-size:cover;
    }


}


/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
/* ---------------Navbar--------------- */
    
    /* .ul-li-hrztl{
        padding: 1rem !important;
    } */

}

/*Celulares*/
@media only screen and (max-width: 575px){
/* ---------------General--------------- */
    p{
        font-size:14px;
    }
    
/* ---------------Navbar--------------- */
    
    /* .ul-li-hrztl{
        padding: .5rem !important;
    } */
    .lis-top{
        width:200px;
    }

    /* --------------------------- Productos ---------------------------- */
    /* #productos{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1000' preserveAspectRatio='none' viewBox='0 0 1440 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3cpath d='M365.62 1050.33C534.61 1036.25 593.76 730.66 942.24 693.12 1290.71 655.58 1339.14 277.28 1518.85 253.12' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M151.6 1143.69C359.31 1120.21 445.51 685.76 834.62 661.43 1223.72 637.1 1334.08 396.27 1517.63 391.43' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M254.67 1139.16C507.27 1001.87 501.51 182.03 848.08 154.1 1194.64 126.17 1279.61 408.48 1441.48 414.1' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M551.13 1160.5C704.06 1092.37 635.61 611.68 930.83 608.89 1226.05 606.1 1491.14 846.06 1690.23 848.89' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M708.81 1079.23C885.32 970.61 809.9 453.53 1109.14 353.3 1408.38 253.07 1391.9 113.29 1509.47 103.3' stroke='rgba(255%2c 193%2c 7%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    } */
    .img-prod{
        height:200px;
        /* padding:0;    */
    }
    .prod-1{
        background-size: cover;
        background-position: 50% 75%;
    }
    .prod-2{
        background-size: cover;
        background-position:70% 35%;
    }
    .prod-3{
        background-size: cover;
        background-position: 10% 50%;
    }

}

/*Celulares angostos*/
@media only screen and (max-width:365px){

    .lis-top{
        width:200px;
    }

/* ---------------Inicio--------------- */

    .ci-1{
        background-position: 10% 60%;
        background-size:cover;
    }
    .ci-2{
        /* background-position: 90% 10%; */
        background-size:cover;
    }
    .ci-3{
        background-position: center;
        background-size:cover;
    }

    .text-carousel{
        width:80vw;    
    }


/* ---------------Footer--------------- */

    #footer{
        background-size:cover;
    }

}